/* BCH vending machine stylesheet */
.siema {
  display: inline;
  margin: auto auto;
  text-align: center;
  width: 335px;
  float: left;
  cursor: none !important; }

.align-horizon {
  margin: 0 auto;
  cursor: none !important; }

.pricing {
  width: 200px;
  display: inline-block;
  position: absolute; }
  .pricing h2 {
    margin-bottom: 0; }

.js-prev, .js-next {
  background-color: #c0c0c0;
  height: 280px;
  width: 50px;
  float: left;
  display: inline;
  border: none;
  border-radius: 5px;
  cursor: none !important; }

.cancel {
  text-align: center;
  background-color: orange;
  border: none;
  border-radius: 5px;
  width: 460px;
  height: 40px;
  font-size: 24px;
  cursor: none !important; }

/* disabling cursor for better UX */
body, img {
  cursor: none !important; }

/*# sourceMappingURL=style.css.map */
