<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <img src="/static/items/{{ item }}.jpg" alt="Coke" height="260px">
        <div class="pricing">
            <h2>PRICE: {{ price }} BCH ($1)</h2>
            <img src="/static/qr.png" alt="QR code payment" height="185px">
        </div>
        <br>
        <a href="/">
            <button class="cancel">CANCEL ORDER</button>
        </a>

    </body>
</html>